body {
  background-color: var(--blue);
}


/* Home */
.home {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home h1 {
  font-size: 4rem;
  color: white;
  position: relative;
  z-index: 10;
  font-family: 'Roboto', sans-serif;
}

.home img {
  opacity: 80%;
}

/* Nav */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  top: 0;
  position: relative;
  background-color: var(--teal);
}


/* Login */